
body {
    background-color: aliceblue;
}
img {
    border-radius: 50%;
}
.indexhead {
 align-items: center;
}
.aboutme {
    contain: ;
    text-align: center;
    color: black;
    size: 0em;
}
.links {

    clear: both;
    position: relative;
    height: 50px;
    background-color: whitesmoke;
    margin-right: auto;
}
button {
    background-color: white;
    font-size: larger;
    
}
.bottom{
    clear: both;
    position: relative;
    height: 50px;
    background-color: whitesmoke;
  
}
.footerlinks {
    font-size: x-large;
}
.resumetop{
    clear: both;
    position: relative;
    height: 100px;
    background-color: whitesmoke;
}


table, td, th {
    border: 1px solid black;
  }
table {
    border-collapse: collapse;
    width: 75%;
}
td {
    height: 70px;
    border-color: black;
}
tr {
    height: 70px;
}