*
body {
    background-color: aliceblue;
}
img {
    border-radius: 50%;
}
.indexhead {
 align-items: center;
}
.aboutme {
    contain: ;
    text-align: center;
    color: black;
    size: 0em;
}
.links {
 ;
}